<!DOCTYPE html>
<html>
<body>

    <h2>Basic HTML Table</h2>

    <table>
        <tr bgcolor="#cccc00">
            <td width="100" align="center">    Demo Alloy    </td>
            <td align="center" bgcolor="#ffff99"><img src="\static\images\Demo Alloy.jpeg" alt="Demo Alloy" style="width:150px;height:150x;border:200;"></td>
        </tr>
    </table>

    <table>
        <tr bgcolor="#cccc00">
            <td width="100" align="center">    Ibis Ripley    </td>
            <td align="center" bgcolor="#ffff99"><img src="\static\images\Ibis Ripley.jpg" alt="Ibis Ripley" style="width:150px;height:150x;border:200;"></td>
        </tr>
    </table>

    <table>
        <tr bgcolor="#cccc00">
            <td width="100" align="center">    Neuron CF    </td>
            <td align="center" bgcolor="#ffff99"><img src="\static\images\Neuron CF.png" alt="Neuron CF" style="width:150px;height:150x;border:200;"></td>
        </tr>
    </table>

    <table>
        <tr bgcolor="#cccc00">
            <td width="100" align="center">    Kona  Enduro    </td>
            <td align="center" bgcolor="#ffff99"><img src="\static\images\Kona  Enduro.jpg" alt="Kona Enduro" style="width:150px;height:150x;border:200;"></td>
        </tr>
    </table>

    <table>
        <tr bgcolor="#cccc00">
            <td width="100" align="center">    Trek Enduro    </td>
            <td align="center" bgcolor="#ffff99"><img src="\static\images\Trek Enduro.jpg" alt="Demo Alloy" style="width:150px;height:150x;border:200;"></td>
        </tr>
    </table>

    <table>
        <tr bgcolor="#cccc00">
            <td width="100" align="center">    YT Capra    </td>
            <td align="center" bgcolor="#ffff99"><img src="\static\images\YT Capra.png" alt="YT Capra" style="width:150px;height:150x;border:200;"></td>
        </tr>
    </table>
</body>
</html>
